span {
    color: blue;
    font-weight: ;
}

#productos th: first-child{
    width: 50px;
}

#productos tbody tr td {
    text-align: center;
}

#productos tr {
    height: 40px;
}

#productos thead th {
    border-top: 1 px solid #333;
}

#productos tbody tr{
    border-top: 1px solid #ddd;
}

#productos .gris{
    background-color: #eee;
}

.btn-agregar {
    background-color: #2080 ;
    color: white;
    padding: 4px 12px;
    border-radius: 6px;
    border: 1px solid #098ddf;
    margin: 20px
}